body {
    overflow-x: hidden
}
html {
    scroll-behavior: smooth;
}
.nav-link.active {
    font-weight: bold;
    color: #2a2a2a;
    border-bottom: solid 2px #2a2a2a;
}
.nav-link {
    font-family: Plus Jakarta Sans, sans-serif !important;
    color: #444444 !important;
    transition: all 0.3s ease;
    font-weight: normal;

}
.nav-link:hover {
    color: #2a2a2a !important;
    border-bottom: 2px solid #444444 !important;
}
.nav-link.active {
        color: #2a2a2a !important;
        border-bottom: 2px solid #2a2a2a;    
}
/* .nav-menu-item {
    font-size: 0.60rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: hidden;
    max-width: 100px;
    display: inline-block;
} */

.card-container-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0rem;
}
.menu-card {
    flex: 0 1 220px; /* grow 0, shrink 1, basis 220px */
}

.card-container-feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0rem;
}
.featured-card {
    flex: 0 1 220px; /* grow 0, shrink 1, basis 220px */
}

.card {
    width: 100%;
    max-width: 100%;
}

.card-title {
    font-size: 1rem;
    white-space: normal; /* biar wrap tapi tetap rapi */
    text-align: left;
}

footer {
    color: #858484 !important;
    font-size: smaller !important;
}

.retiortuk {
    color: #858484 !important;
}