@media (max-width: 767.98px) {
    .quantityControls button {
        /* Ini adalah variabel Bootstrap untuk padding atas/bawah, padding kiri/kanan, dan ukuran font */
        --bs-btn-padding-y: .2rem;
        --bs-btn-padding-x: .4rem;
        --bs-btn-font-size: .75rem;
    }

    .quantityControls span {
        /* Kita juga kecilkan angka kuantitasnya agar seimbang */
        font-size: 0.9rem;
    }
}